{% extends 'bootstrap5/bootstrap5.html' %}
{% load bootstrap5 %}
{% load static %}


{% block bootstrap5_title %}Title{% endblock %}

{% block bootstrap5_extra_head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
{% endblock %}

{% block bootstrap5_content %}
    <div id="page-wrapper">
        <!-- Header -->
        <div id="header">
            <div class="container-fluid d-flex justify-content-between align-items-center py-3">
                <h4 class="mb-0">
                    <a href="/" id="logo" class="text-decoration-none text-dark">
                        <img src="{% static 'img/favicon.ico' %}" alt="Plant Care Logo" class="img-fluid"
                             style="max-height: 35px;"> Plant Care
                    </a>
                </h4>
                <nav id="nav" class="nav">
                    <a href="/" class="nav-link text-dark">Home</a>
                    <div class="dropdown">
                        <a href="{% url 'plant_care:plant-list' %}" class="nav-link text-dark dropdown-toggle"
                           id="navbarDropdown"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Plants
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'plant_care:plant-list' %}">Plant list</a></li>
                            <li><a class="dropdown-item" href="{% url 'plant_care:plant-create' %}">Add new plant</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'plant_care:plant-graveyard-list' %}">Plant
                                graveyard</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="nav-link text-dark dropdown-toggle" id="navbarDropdown"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Groups
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'plant_care:plant-group-list' %}">Group list</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'plant_care:plant-group-create' %}">Add new
                                group</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <a href="#" class="nav-link text-dark dropdown-toggle" id="navbarDropdown"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Tasks
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'plant_care:perform-tasks' %}">Plant care</a></li>
                            <li><a class="dropdown-item" href="{% url 'plant_care:warnings' %}">Warnings</a></li>
                        </ul>
                    </div>
                    <a href="{% url 'plant_care:care-history' %}" class="nav-link text-dark">History</a>
                </nav>
            </div>
        </div>
        <!-- Banner -->
        {% block banner %}{% endblock %}

        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <!-- Main content -->
        <section class="wrapper style1">
            <div class="container">
                {% block content %}
                    <p>No content available.</p>
                {% endblock %}
            </div>
        </section>

        <!-- Footer -->
        <div id="footer">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <div>
                    <a href="https://github.com/JanaBergl/django-project" target="_blank"><img
                            src="{% static 'img/github.svg' %}" alt="GitHub" style="width: 48px; height: 48px;"></a>
                </div>

                <div class="d-flex justify-content-start align-items-center me-3 ms-3">
                    <div style="margin-right: 15px;">
                        User:&nbsp;&nbsp;
                        {% if user.is_authenticated %}
                            {{ user }}
                        {% else %}
                            Not logged in
                        {% endif %}
                    </div>

                    <div>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout-yes-no' %}?userid={{ user.pk }}">
                                <button class="btn-sm btn-animace">Logout</button>
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}">
                                <button class="btn-sm btn-animace">Login</button>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Scripts -->
    {% block extra_scripts %}
    {% endblock %}
{% endblock %}
