{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}



{% block bootstrap5_title %}Plant Care Manager{% endblock %}

{% block banner %}
    <section id="banner">
        <header>
            <h2 class="home-page-welcome">Hello, {% if user_name %}<em class="text-success">{{ user_name }}</em>!{% else %}user!{% endif %}
                Welcome to Plant Care App</h2>
            {% if overdue_plant_count == 1 %}
                <h5 class="home-page-warning"><a href="{% url 'plant_care:warnings' %}" class="text-decoration-none text-dark">There is <b class="text-success">{{ overdue_plant_count }}</b> plant requiring your attention!</a></h5>
            {% elif overdue_plant_count > 1 %}<h5 class="home-page-warning"><a href="{% url 'plant_care:warnings' %}" class="text-decoration-none text-dark">There are <b class="text-success">{{ overdue_plant_count }}</b> plants requiring your attention!</a></h5>
            {% else %}
                <p>Track your plants, plan tasks, and check care history</p>
            {% endif %}
        </header>
    </section>
{% endblock %}

{% block content %}
    <div class="row mt-3">
        <section class="col-4 col-12-narrower">
            <div class="box highlight">
                <a href="{% url 'plant_care:plant-list' %}" class="text-decoration-none text-dark">
                    <div class="circle-wrapper">
                        <img src="{% static 'img/plants.png' %}" alt="My Plants">
                    </div>
                    <h2 class="home-page">Plants</h2>
                    <p>View and manage your plant collection</p>
                </a>
            </div>
        </section>
        <section class="col-4 col-12-narrower">
            <div class="box highlight">
                <a href="{% url 'plant_care:perform-tasks' %}" class="text-decoration-none text-dark">
                    <div class="circle-wrapper">
                        <img src="{% static 'img/tasks.png' %}" alt="Plant tasks">
                    </div>
                    <h2 class="home-page">Tasks</h2>
                    <p>Keep track of watering, fertilizing, and repotting schedules</p>
                </a>
            </div>
        </section>
        <section class="col-4 col-12-narrower">
            <div class="box highlight">
                <a href="{% url 'plant_care:care-history' %}" class="text-decoration-none text-dark">
                    <div class="circle-wrapper">
                        <img src="{% static 'img/history.png' %}" alt="Care history">
                    </div>
                    <h2 class="home-page">History</h2>
                    <p>Check past actions and logs</p>
                </a>
            </div>
        </section>
    </div>
{% endblock %}
