{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}



{% block bootstrap5_title %}Create Plant{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <h1 class="text-center">Add a new plant </h1>
        <div class="col-md-6 mx-auto">
            <form method="post" action=".">
                {% csrf_token %}
                {% bootstrap_form plant_form %}
                {% bootstrap_form task_frequency_form %}

                <br>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-animace">Add</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}



