{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}



{% block bootstrap5_title %}Plant Detail{% endblock %}


{% block content %}
    <div class="container mt-5 mb-5 position-relative">
        {% include 'snippets/back_button.html' %}
        <div class="d-flex justify-content-center align-items-center mb-4">

            <table class="table table-bordered table-striped table-responsive w-50 mx-auto">
                <thead class="table-success">
                <tr>
                    <th colspan="2" class="text-center fs-3">{{ plant.name }}</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th scope="row" style="width: 30%">Group</th>
                    <td><a href="{% url 'plant_care:plant-group-detail' plant.group.pk %}"
                           class="text-decoration-none text-dark text-center">{{ plant.group }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Date of purchase</th>
                    <td>{{ plant.date|date:"d. m. Y" }}</td>
                </tr>
                <tr>
                    <th scope="row">Notes</th>
                    {% if plant.notes %}
                        <td>{{ plant.notes }}</td>
                    {% else %}
                        <td>No notes added</td>
                        </tr>
                    {% endif %}
                {% if plant.is_alive %}
                    {% if task_frequencies %}
                        {% for task in task_frequencies %}
                            {% if task.frequency %}
                                <tr>
                                    <th scope="row">{{ task.task_type }}</th>
                                    <td>Every {{ task.frequency }} days</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            <th scope="row">Care frequency</th>
                            <td>No frequencies set</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">History</th>
                        <td><a class="text-decoration-none"
                               href="{% url 'plant_care:care-history' %}?filter={{ plant.name }}">🔍</a></td>
                    </tr>
                    {% if plant_warnings %}
                        <tr>
                            <th scope="row">Warnings</th>
                            <td>
                                {% for warning in plant_warnings %}
                                    ⚠️ {{ warning.task_type }} is {{ warning.days_since_task }} days overdue!<br>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% else %}
                    <tr>
                        <th scope="row">Time of death</th>
                        <td> {{ plant.plantgraveyard.date_of_death|date:"d. m. Y" }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Cause of death</th>
                        <td> {{ plant.plantgraveyard.get_cause_of_death_display }}</td>
                    </tr>

                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'plant_care:perform-tasks' %}?filter={{ plant.name }}" class="btn">🫗 Care</a>
            <a href="{% url 'plant_care:plant-update' plant.pk %}" class="btn me-2">✏️ Update</a>
            <a href="{% url 'plant_care:plant-delete' plant.pk %}" class="btn me-2">🗑️ Delete</a>
            <a href="{% url 'plant_care:dead-plant' plant.pk %}" class="btn">🪦 RIP</a>
        </div>
    </div>
{% endblock %}