{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}



{% block bootstrap5_title %}Group List{% endblock %}


{% block content %}
    {% if groups %}
        <div class="container mt-3">
            <div class="d-flex flex-column align-items-center">
                <br>
                <p class="fs-3 text-center">Plant Groups</p>
                <br>

            </div>
            <div class="d-flex justify-content-center align-items-center mb-4">

                <table class="table table-striped table-hover table-bordered table-sm table-responsive"
                       style="width: 75%">
                    <thead class="table-success">
                    <tr>
                        <th><a class="text-decoration-none text-dark" href="?sort={% if request.GET.sort == 'group_name' %}-group_name{% else %}group_name{% endif %}">Group name</a></th>
                        <th><a class="text-decoration-none text-dark" href="?sort={% if request.GET.sort == 'num_plants' %}-num_plants{% else %}num_plants{% endif %}">Number of plants</a></th>
                        <th style="width: 10%" class="text-center">Detail</th>
                        <th style="width: 10%" class="text-center">Update</th>
                        <th style="width: 10%" class="text-center">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                        <tr>
                            <td><a class="text-decoration-none text-dark"
                                   href="{{ group.get_absolute_url }}">{{ group.group_name }}</a>
                            </td>
                            <td><a class="text-decoration-none text-dark"
                                   href="{% url 'plant_care:plants-in-group-list' group.pk %}">{{ group.num_plants }}</a>
                            </td>
                            <td class="text-center">
                                <a class="text-decoration-none"
                                   href="{{ group.get_absolute_url }}">🔍</a>
                            </td>
                            <td class="text-center">
                                <a class="text-decoration-none"
                                   href="{% url 'plant_care:plant-group-update' group.pk %}">✏️</a>
                            </td>
                            <td class="text-center">
                                <a class="text-decoration-none"
                                   href="{% url 'plant_care:plant-group-delete' group.pk %}">🗑️</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <a href="{% url 'plant_care:plant-group-create' %}" class="btn me-2 btn-success btn-animace">Add new
                    group</a>
            </div>
        </div>
    {% else %}
        <p class="text-center mt-5">There are no groups in the database.</p>
        <div class="container">
            <div class="d-flex justify-content-center mb-2">
                <a href="{% url 'plant_care:plant-group-create' %}" id="a-button" class="btn btn-success btn-animace"><b>Create
                    a group</b></a>
            </div>
        </div>
    {% endif %}

{% endblock %}
