{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}



{% block bootstrap5_title %}Plant Detail{% endblock %}


{% block content %}
    <div class="container mt-5 mb-5 position-relative">
        {% if plant.is_alive %}
            <a href="{% url 'plant_care:plant-list' %}"
               class="position-absolute top-0 start-0 m-3 text-decoration-none text-dark fs-3">
                🔙
            </a>
        {% else %}
            <a href="{% url 'plant_care:plant-graveyard-list' %}"
               class="position-absolute top-0 start-0 m-3 text-decoration-none text-dark fs-3">
                🔙
            </a>

        {% endif %}

        <div class="d-flex justify-content-center align-items-center mb-4">

            <table class="table table-bordered table-striped table-responsive w-50 mx-auto">
                <thead class="table-success">
                <tr>
                    <th colspan="2" class="text-center fs-3">{{ plant.name }}</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <th scope="row" style="width: 30%">Group</th>
                    <td><a href="{% url 'plant_care:plant-group-detail' plant.group.pk %}"
                           class="text-decoration-none text-dark text-center">{{ plant.group }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Date of purchase</th>
                    <td>{{ plant.date|date:"d. m. Y" }}</td>
                </tr>
                <tr>
                    <th scope="row">Notes</th>
                    <td>{{ plant.notes }}</td>
                </tr>
                {% if plant.is_alive %}
                    <tr>
                        <th scope="row">History</th>
                        <td>doplnit!</td>
                    </tr>
                {% endif %}
                {% if task_frequencies %}
                    {% for task in task_frequencies %}
                        {% if task.frequency %}
                            <tr>
                                <th scope="row">{{ task.task_type }}</th>
                                <td>Every {{ task.frequency }} days</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <th scope="row">Care frequency</th>
                        <td>No frequencies set</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a href="{% url 'plant_care:plant-update' plant.pk %}" class="btn me-2">✏️ Update</a>
            <a href="{% url 'plant_care:plant-delete' plant.pk %}" class="btn">🗑️ Delete</a>
        </div>
    </div>
{% endblock %}