{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}



{% block bootstrap5_title %}Create Group{% endblock %}


{% block content %}
    <div class="container mt-5 mb-5">
        <h1 class="view-header text-center fs-3">Add new group </h1>
        <div class="col-md-6 mx-auto">
            <form method="post" action="." autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form form %}
                <br>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-animace">Add</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


