{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}



{% block bootstrap5_title %}Delete Group{% endblock %}


{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="d-flex flex-column align-items-center w-100" style="max-width: 75%;">
            <p class="fs-5 text-center">Are you sure you want to delete group <strong>'{{ group.group_name }}'</strong>?</p>
            <br>
            <br>
            {% if group.group_name == "Uncategorized" %}
                <div class="alert alert-warning text-center mb-5" role="alert">
                    The 'Uncategorized' group cannot be deleted!
                </div>
            {% endif %}
            <form method="post" action="{% url 'plant_care:plant-group-delete' group.pk %}">
                {% csrf_token %}
                <div class="d-flex justify-content-center gap-3">

                    <a href="{% url 'plant_care:plant-group-list' %}" class="btn-animace btn-success text-decoration-none">Cancel</a>
                    <button type="submit" class="btn-animace-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
