{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}



{% block title %}Update Plant{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <h1 class="text-center">Update plant details </h1>
        <div class="col-md-6 mx-auto">
            <form method="post" action=".">
                {% csrf_token %}
                {% bootstrap_form form %}
                <br>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success">Update</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}



