{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block bootstrap5_title %}Care History{% endblock %}

{% block content %}
    {% if history %}
        <div class="container mt-3 mb-3">
            <div class="d-flex flex-column align-items-center">
                <br>
                <div class="d-flex justify-content-center w-75 mb-4">
                    <p class="fs-3 m-0 text-center">🌱 Care History 🌱</p>
                </div>

                <div class="d-flex justify-content-end w-75 mb-4">
                    <form method="get" action="{% url 'plant_care:care-history' %}"
                          class="d-flex" style="width: auto;">
                        <input type="text" name="filter" placeholder="Search task/plant/group"
                               value="{{ request.GET.filter }}" class="text-center form-control">
                        <button type="submit" class="btn ms-2 btn-animace">🔎</button>
                    </form>
                </div>

            </div>

            <div class="d-flex justify-content-center align-items-center mb-4">
                <table class="table table-striped table-bordered table-sm table-hover"
                       style="table-layout: auto; max-width: 75%; word-wrap: break-word;">
                    <tbody>
                    {% for log in history %}
                        <tr>
                            <td class="text-center">
                                "<a class="text-decoration-none text-dark" href="{{ log.plant.get_absolute_url }}">{{ log.plant.name }}"</a>
                                <a class="text-decoration-none text-dark" href="{{ log.plant.group.get_absolute_url }}">("{{ log.plant.group }}")</a> was
                                <b>{{ log.get_task_type_display }}</b> on {{ log.formatted_task_date }}.
                            </td>
                            <td class="text-center">
                                <a class="text-decoration-none"
                                   href="{% url 'plant_care:care-history-delete' log.pk %}">🗑️</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p class="text-center mt-5">There is no care history.</p>
        <div class="container">
            <div class="d-flex justify-content-center mb-2">
                <a href="{% url 'plant_care:perform-tasks' %}" id="a-button"
                   class="btn btn-outline-success btn-animace"><b>Tasks</b></a>
            </div>
        </div>
    {% endif %}
{% endblock %}
