<div class="d-flex justify-content-center align-items-center mb-4">
    <nav>
        <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link text-success border-success"
                       href="?page=1{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}{% if request.GET.time %}&time={{ request.GET.time }}{% endif %}">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-success border-success" href="?page={{ page_obj.previous_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}{% if request.GET.time %}&time={{ request.GET.time }}{% endif %}">Prev</a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active">
                        <span class="page-link bg-success border-success">{{ num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link text-success border-success" href="?page={{ num }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}{% if request.GET.time %}&time={{ request.GET.time }}{% endif %}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link text-success border-success" href="?page={{ page_obj.next_page_number }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}{% if request.GET.time %}&time={{ request.GET.time }}{% endif %}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link text-success border-success" href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.filter %}&filter={{ request.GET.filter }}{% endif %}{% if request.GET.time %}&time={{ request.GET.time }}{% endif %}">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>