{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block bootstrap5_title %}Logout{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="d-flex flex-column align-items-center w-100">
            <h3 class="text-center text-success mb-4">Are you sure you want to log out, {{ user.username }}?</h3>
            <br>
            <div class="d-flex">
                <a href="{% url 'plant_care:home-page-app' %}" style="margin-right: 10px;"><button class="btn btn-animace text-light">Stay</button></a>
                <a href="{% url 'logout' %}?userid={{ user.pk }}"><button class="btn btn-animace-danger text-light">Logout</button></a>
            </div>
        </div>
    </div>
{% endblock %}
