html, body {
    height: 100%;
    margin: 0;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header {
    background-color: #e8ffec;
    text-align: center;
    padding: 20px 20px;
}


#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-right {
    margin-left: auto;
}

.btn {
    display: flex;
    align-items: center;
}


#footer {
    margin-top: auto;
    padding: 20px 0;
    background-color: #e8ffec
}

#footer ul {
    list-style-type: none;
}

#footer .container {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.col-4 {
    max-width: 30%;
    text-align: center;
}

.circle-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid palegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto 20px auto;
}

.circle-wrapper img {
    max-width: 70%;
    height: auto;
}

footer {
    background-image: url("../img/footer_2.png");
    background-size: auto 100px;
    background-position: center bottom;
    background-repeat: repeat-x;
    height: 100px;
    width: 100%;
    color: black;
}

#banner {
    text-align: center;
    margin-top: auto;
}

/* Styl tlačítka - vlastní gradient do zelena */
.btn-animace {
    background: linear-gradient(45deg, darkseagreen, mediumseagreen); /* Zelený gradient */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Efekt hover - tlačítko se zvětší a přidá se stín */
.btn-animace:hover {
    box-shadow: 0px 4px 10px rgba(40, 167, 69, 0.5); /* Zelený stín */
}

/* Efekt kliknutí - tlačítko se na moment zmenší */
.btn-animace:active {
    transform: scale(0.9);
}

/* Vynucení zelené barvy pro VŠECHNY checkboxy */
input[type="checkbox"],
.form-check-input {
    cursor: pointer;
    accent-color: #28a745 !important; /* Vynutíme zelenou */
    transition: 0.2s ease-in-out;
}

/* Efekt zvětšení při hoveru */
input[type="checkbox"]:hover {
    transform: scale(1.1);
}

/* Zvýraznění při zaškrtnutí */
input[type="checkbox"]:checked,
.form-check-input:checked {
    filter: drop-shadow(0 0 5px rgba(40, 167, 69, 0.8)); /* Zelená záře */
}

/* Zvýraznění labelu při zaškrtnutí */
input[type="checkbox"]:checked + label,
.form-check-input:checked + label {
    font-weight: bold;
    color: #28a745;
}

/* Úprava pro zaškrtnutí checkboxů a zachování správného vzhledu textu */
input[type="checkbox"]:checked {
    background-color: #28a745;
    border-color: #28a745;
}


